
body {
  padding: 25px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.dark-mode {
  background-color: rgb(53, 53, 53);
  color: rgb(0, 0, 0);
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}

